@model SimplySeniors.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2 id="eventTitle">Details of Event</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="eventDetails">

        <dd id="eventName">
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @{<text>Location</text>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STREETADDRESS)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.CITY)@{<text>,</text>} @Html.DisplayFor(model => model.STATE)@{<text>,</text>} @Html.DisplayFor(model => model.ZIPCODE)@{<text>,</text>} @Html.DisplayFor(model => model.COUNTRY)
        </dd>

        <dt>
            @{<text>Date</text>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTDATE)
            @{<text>-</text>}
            @Html.DisplayFor(model => model.ENDDATE)
        </dd>

        <dt>
            @{<text>Time</text>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTTIME)
            @{<text>-</text>}
            @Html.DisplayFor(model => model.ENDTIME)
        </dd>

    </dl>
</div>
<div id="eventLink">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to Events", "Index")
</div>
