@model IEnumerable<SimplySeniors.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2 id="eventTitle">Simply Senior Events</h2>

<button id="eventButton" onclick="window.location.href = '/Events/Create'">
    Create New Event
</button>
<button id="eventButton" onclick="window.location.href = '/Events/SearchEvents'">
    Search for Events
</button>
<div id="eventPic">
    <img src="~/Photos/fungroup3.png" alt="eventPic">
</div>

<table class="table" id="eventTable">
    <tr id="tableTrTwo">
        <th>
            @{<text>Name</text>}
        </th>
        <th>
            @{<text>Description</text>}
        </th>
        <th>
            @{<text>Location</text>}
        </th>
        <th>
            @{<text>Date</text>}
        </th>
        <th>
            @{<text>Time</text>}
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="tableTrTwo">
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CITY)@{<text>, </text>} @Html.DisplayFor(modelItem => item.STATE)@{<text>, </text>}@Html.DisplayFor(modelItem => item.COUNTRY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STARTDATE) @{<text>-</text>} @Html.DisplayFor(modelItem => item.ENDDATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STARTTIME) @{<text>-</text>} @Html.DisplayFor(modelItem => item.ENDTIME)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<h2 id="eventTitle">Events Near @ViewBag.City</h2>
<div id="searchExternalEvents">
    <p>If you'd like to see events in other cities, enter the city and/or the type of event you'd like to search for below:</p>
    <input type="text" id="location" placeholder="City and/or State" />
    <input type="text" id="keyword" placeholder="Keyword" />
    <input id="form-to-be-submitted" value="Search" type="button" onclick="searchNow()" />
</div>

    <div id="eventTable" style="text-align:center">
        <div id="bigTable">
            <table id="tablePlacement"></table>
        </div>
    </div>

    <div id="helpLink"><p> Need help learning about all of the features on your Events page? Visit our <b>Help</b> tab on the navigation menu at the top of this page or <a href='/Home/HelpPage#EventHelp'> Click here</a>.</p></div>


    @section scripts {
        <script type="text/javascript" src="~/Scripts/main.js"></script>
    }

