@model IEnumerable<SimplySeniors.Models.Event>

@{
    ViewBag.Title = "Search Events";
}

<h1 id="searchHeader">Search for events!</h1>
<br />

@using (Html.BeginForm("SearchEvents", "Events", FormMethod.Post))
{
    <div class="container" style="font-size:large;" id="searchBox">
        <h3>
            Search by name or location:
            @Html.TextBox("searchString", null, new { id = "textBox", style = "border-radius:6px; padding-left:10px; font-size:20px; width: 5000px; height: 40px;", placeholder = "Partial matches will be found" })
            <input class="form-control-lg btn-outline-primary" type="submit" id="searchBoxID" value="Search Now" style="border-radius: 10px;" />
        </h3>
    </div>

    <br />

    if (Model != null)
    {
        if (Model.Count() != 0) // checking to make sure that there are items in the model.
        {

            <table class="table table-striped table-dark" id="resultsTable">
                <tr>
                    <th>@Html.Label("Event Name")</th>
                    <th>@Html.Label("Location")</th>
                    <th>@Html.Label("Date")</th>
                    <th> </th>
                    <th>@Html.Label(" Details")</th>
                </tr>

                @foreach (var item in Model) // Iterate through all items in the model to produce search results.
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.CITY)@{<text>,</text>} @Html.DisplayFor(model => item.STATE)@{<text>,</text>} @Html.DisplayFor(model => item.COUNTRY)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.STARTDATE)
                            @{<text>-</text>}
                            @Html.DisplayFor(model => item.ENDDATE)
                        </td>
                        <td>
                        <td>
                            @Html.ActionLink("See Details", "Details", new { id = item.ID })
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div id="searchAgain">
                @Html.ActionLink("Start a new search", "SearchEvents")
            </div>
            <div class="card" id="profileSearchNotFoundBox">
                <div class="card-header">
                    <h1 id="profileCardHeader">Yikes!</h1>
                </div>
                <div class="card-body" id="profileCardBody">
                    <h2>No records were found that matched your search, please use the link above to try again.</h2>
                </div>
            </div>

        }

    }

}
