@model SimplySeniors.Models.HobbyBridge

@{
    ViewBag.Title = "Create";
}

<h2 id="eventTitle">Add New Hobby</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        <p>Please add general hobbies from the dropdown list below to be able to connect to more users: </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" id="editBox">
            @Html.LabelFor(model => model.HobbiesID, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-10">
                @Html.DropDownList("HobbiesID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HobbiesID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Hobby" class="btn btn-outline-primary" id="eventButton" />
            </div>
        </div>
    </div>
}

<div id="eventLink">
    @Html.ActionLink("Your Hobby List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
