@model IEnumerable<SimplySeniors.Models.HobbyBridge>

@{
    ViewBag.Title = "Index";
}

<h2 id="eventTitle">Your Hobbies</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hobby.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobby.DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Hobby.NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hobby.DESCRIPTION)
    </td>
    <td id="eventLink">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID })
    </td>
    <td id="eventLink">
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>

</tr>
}

</table>
