@model SimplySeniors.Models.FollowList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FollowList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowedUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowedUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeFollowed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeFollowed)
        </dd>

    </dl>
</div>
<p id="eventLink">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
