@model IEnumerable<SimplySeniors.Models.Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="chatHeader">Conversation Street</h2>

<h3 id="memberListHeader">Available Members:</h3>
<div class="form-group" style="margin-top: 90px; margin-left: 85px;">
    @*<label class="col-md-6">Choose a member:</label>*@
    <div class="col-md-6">
        <select id="memberDDL" class="form-control">
            <option value="Choose">Select</option>
        </select>
    </div>
</div>
<div id="talkjs-container" style="width: 80%; margin: 30px; height: 500px; margin-top: -130px;"><i>Now Loading your chat...</i></div>

@Html.DisplayNameFor(model => model.FIRSTNAME)
@Html.DisplayNameFor(model => model.LASTNAME)

@*<table class="table table-striped table-hover" id="chatList">
        <thead class="thead-dark">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FIRSTNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LASTNAME)
            </th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FIRSTNAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LASTNAME)
                </td>

            </tr>
        }
    </table>*@

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="~/Scripts/memberList.js"></script>
<script type="text/javascript" src="~/Scripts/chat.js"></script> @*Running custom chat.js in Scripts folder for interactive chat features.*@
<script type="text/javascript" src="~/Scripts/Main.js"></script>
