@model SimplySeniors.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h3>Profile Details</h3>

<div>
    <h1>@Html.DisplayFor(model => model.FIRSTNAME) @Html.DisplayFor(model => model.LASTNAME)</h1>
    <h6>@Html.DisplayNameFor(model => model.VETSTATUS) @Html.DisplayFor(model => model.VETSTATUS)</h6>
    <hr />
    <!--Beware all who enter this land of divs-->
    <div class="container">
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.BIRTHDAY) </p>
            </div>
            <div class="col-md">
                <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.LOCATION) </p>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                @Html.DisplayFor(model => model.BIRTHDAY)
            </div>
            <div class="col-md">
                @Html.DisplayFor(model => model.LOCATION)
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.OCCUPATION) </p>
            </div>
            <div class="col-md">
                <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.FAMILY) </p>
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                @Html.DisplayFor(model => model.OCCUPATION)
            </div>
            <div class="col-md">
                @Html.DisplayFor(model => model.FAMILY)
            </div>
            <div class="col-md"></div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="col-md-8">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.BIO) </p>
            </div>

            <div class="col-md"></div>
        </div>
        <div class="row">
            <div class="col-md"></div>
            <div class="col-md">
                @Html.DisplayFor(model => model.BIO)
            </div>
            <div class="col-md"></div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
