@model SimplySeniors.Models.ViewModel.PDViewModel

@{
    ViewBag.Title = "Details";
}

<br />
<br />

<table id="homePageTable">
    <tr>
        <td>
            <img src="~/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" />
        </td>
        <td>
            @Html.DisplayFor(model => model.ProfileFirstName)
            @Html.DisplayFor(model => model.ProfileLastName)
        </td>
    </tr>
</table>
<br />
<h6>@Html.DisplayNameFor(model => model.ProfileVet) @Html.DisplayFor(model => model.ProfileVet)</h6>
<br />
<button id="eventButton" onclick="window.location.href = '/Posts/Create' ">Create Post</button>
<button id="eventButton" onclick="window.location.href = '/Posts/Index' ">See My Posts</button>
@Html.ActionLink("Edit Profile", "Edit", "Profiles", new { id = Model.ProfileID }, new { id = "eventButton" })

<div>

    <hr />
    <!--Beware all who enter this land of divs-->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">

                    <div class="col-md">
                        <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.ListHobbies)</p>
                        @Html.DisplayFor(model => model.ListHobbies)
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                </div>

                <div class="row">
                    <div class="col-md">
                        <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.ProfileBirthday) </p>
                    </div>
                    <div class="col-md">
                        <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.ProfileLocation) </p>
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                </div>

                <div class="row">
                    <div class="col-md">
                        @Html.DisplayFor(model => model.ProfileBirthday)
                    </div>
                    <div class="col-md">
                        @Html.DisplayFor(model => model.ProfileLocation)
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-md-8">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.ProfileOccupation) </p>
                    </div>
                    <div class="col-md">
                        <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.ProfileFamily) </p>
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                </div>
                <div class="row">

                    <div class="col-md">
                        @Html.DisplayFor(model => model.ProfileOccupation)
                    </div>
                    <div class="col-md">
                        @Html.DisplayFor(model => model.ProfileFamily)
                    </div>
                    <div class="col-md"></div>
                    <div class="col-md"></div>
                </div>
                <div class="row justify-content-lg-center">
                    <div class="col-md-8">
                        <hr />
                    </div>
                </div>
                <div class="row">

                    <div class="col-md">
                        <p class="font-weight-bold"> @Html.DisplayNameFor(model => model.ProfileBIO) </p>
                    </div>

                    <div class="col-md"></div>
                </div>
                <div class="row">

                    <div class="col-md">
                        @Html.DisplayFor(model => model.ProfileBIO)
                    </div>
                    <div class="col-md"></div>
                </div>

            </div>

            <div class="col-md-8" id="boxPostFriend">
                <div id="homeHeader">User Posts</div> <hr />

                @foreach (var item in Model.PostList)
                {
                    <div id="individualPost">
                        <div id="statusName">
                            <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
                            @Html.DisplayFor(model => model.ProfileFirstName)
                            @Html.DisplayFor(model => model.ProfileLastName)
                        </div>
                        <div id="statusTitle">
                            @Html.DisplayFor(model => item.Title)
                        </div>
                        <div id="postDescription">
                            @Html.DisplayFor(model => item.Body)
                        </div>

                    </div>
                }
            </div>

        </div>
    </div>


    <p id="eventLink">
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProfileID })*@
        @Html.ActionLink("Back to Home", "HomePage", "UserHomePage")
    </p>
</div>
