@model SimplySeniors.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRSTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRTHDAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRTHDAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VETSTATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VETSTATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCCUPATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCCUPATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAMILY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAMILY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
