@model IEnumerable<SimplySeniors.Models.Profile>

@{
    ViewBag.Title = "Search Profiles";
}

<h1 id="searchHeader">Find members within our community!</h1>
<br />

@using (Html.BeginForm("Index", "Profiles", FormMethod.Post))
{
    <div class="container" style="font-size:large;" id="searchBox">
        <h3>Search by a person's name:
        @Html.TextBox("searchString", null, new {id="textBox", style = "border-radius:6px; font-size:20px; width: 5000px; height: 40px;", placeholder = "Partial matches will be found"})
        <input class="form-control-lg" type="submit" id="searchBoxID" value="Search Now" />
    </h3>
        </div>

    <br />

    if (Model != null)
    {
        if (Model.Count() != 0) // checking to make sure that there are items in the model.
        {

            <table class="table table-striped table-dark" id="resultsTable">
                <tr>
                    <th id="photoHeader">@Html.Label("Profile Photo")</th>
                    <th></th>
                    <th>@Html.Label("Person's Name")</th>
                    <th>@Html.Label("Location")</th>
                    <th></th>
                   
                    <th>@Html.Label(" Profile")</th>
                </tr>

                @foreach (var item in Model) // Iterate through all items in the model to produce search results.
                {
            <tr>
                <td>
                    <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
                </td>
                <td>
                @if (item.VETSTATUS == true)
                {
                    <img src="~/Photos/vet2.png" id="vetImage" style="height: 60px; width: 55px; border-radius: 0em; border: aqua; margin-left: -110px; margin-top: 11px; " />
                }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIRSTNAME)
                    @Html.DisplayFor(modelItem => item.LASTNAME)
                </td>
                <td>@Html.DisplayFor(modelItem => item.LOCATION)</td>
                <td>
                <td>
                    @Html.ActionLink("See Profile", "Details", new { id = item.ID })
                </td>
            </tr>
                }
            </table>
        }
        else
        {
            <div id="searchAgain">
                @Html.ActionLink("Start a new search", "Index")
            </div>
            <div class="card" id="profileSearchNotFoundBox">
                <div class="card-header">
                    <h1 id="profileCardHeader">Yikes!</h1>
                </div>
                <div class="card-body" id="profileCardBody">
                    <h2>No records were found that matched your search, please use the link above to try again.</h2>
                </div>
            </div>

        }

    }

}
