@model SimplySeniors.Models.ViewModel.FollowerInheritanceModel
@{
    ViewBag.Title = "search";
}

@foreach (var item in Model.results)
{
    <div id="individualPost">
        <div id="statusName">
            <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" alt="no photo found" />
            @Html.DisplayFor(model => item.FirstName)
            @Html.DisplayFor(model => item.LastName)
            -  @Html.DisplayFor(model => item.State)
            @Html.DisplayFor(model => item.Hobby)
        </div>
        <br />
        <form>
            @Html.AntiForgeryToken()
            <button id="eventButton" type="submit" name="your_name" onclick="follow(@Html.DisplayFor(model => item.id))" class="btn-link">Follow</button>
        </form>

    </div>

}



<script>

    function follow(id) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Profiles/Ajaxcreate?message=" + id,
            data: { 'followid': id },
          success: function (data) {
            alert(data.success); },
          error: function () {
           alert("error");}
        })
    }
</script>




