@model SimplySeniors.Models.ViewModel.FollowerInheritanceModel
@{
    ViewBag.Title = "search";
}

<h2 id="eventTitle">Suggested Followers</h2>
<p>Below, you will find a list of suggested friends/followers based on hobby and location: </p>
<hr />

@foreach (var item in Model.results)
{
    <div id="individualPost" style="width: 80%;">
        <div id="statusName" style="margin-top: 0px; ">
            <iframe border="none" marginheight="0em;" marginwidth="0em;" scrolling="no" height="160px" width="165px" src="~/PhotoDownloadForm.aspx?id=@Html.DisplayFor(model => item.id)" alt=""></iframe>
            @Html.DisplayFor(model => item.FirstName)
            @Html.DisplayFor(model => item.LastName)
            -@Html.DisplayFor(model => item.State)
            @Html.DisplayFor(model => item.Hobby)
        </div>
        <br />
        <form>
            @Html.AntiForgeryToken()
            @Html.ActionLink("See Profile", "Details", "Profiles", new { id = Html.DisplayFor(model => item.id) }, htmlAttributes: new { @class = "btn-link", @id = "eventButton", @role = "button" , style="margin-left: 80px; float:right;"})
            <button id="eventButton" type="submit" name="your_name" onclick="follow(@Html.DisplayFor(model => item.id))" class="btn-link">Follow </button>
        </form>

    </div>

}

<div id="helpLink"><p> Need help learning about your friend suggestions? Visit our <b>Help</b> tab on the navigation menu at the top of this page or <a href='/Home/HelpPage#FriendHelp'> Click here</a>.</p></div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/main.js"></script>
}




