@model SimplySeniors.Models.ViewModel.FollowerInheritanceModel
@{
    ViewBag.Title = "search";
}

@foreach (var item in Model.results)
{
    <div id="individualPost">
        <div id="statusName">
            <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" alt="no photo found" />
            @Html.DisplayFor(model => item.FirstName)
            @Html.DisplayFor(model => item.LastName)
            -  @Html.DisplayFor(model => item.State)
            @Html.DisplayFor(model => item.Hobby)
        </div>
        <br />
        <form action="/FollowLists/Create" id="@Html.DisplayFor(model => item.id)" method="post" > @Html.AntiForgeryToken()
            <button id="eventButton" type="submit" name="your_name" onclick="follow(@Html.DisplayFor(model => item.id))" class="btn-link">Follow</button>
        </form>

    </div>

}



<script>

    function follow(id) {
        var headers = { __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() };

        $.ajax({
            type: "POST",
            url: "FollowLists/Create",
            data: {
                'ID': id,
                'UserID': 0,
                'FollowedUserID': 0,
                'TimeFollowed': Date.now(),
                'FollowProfile': {}
            },
          success: function (data) {
            alert(data.success); },
          error: function () {
           alert("error");}
        })
    }
</script>




