@model ThrowawayProject.Models.Athlete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @{<text>Team Name</text>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.NAME)
        </dd>

        <dt>
            @{<text>Athlete Name</text>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @{<text>Gender</text>}
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

    </dl>
</div>

<div class="row">

    <div class="col-md-7 tableStyle">
        <h4 class="StockInfo"> Athlete Results </h4>
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <tr>
                        <th>
                            @{<text>Race Type</text>}
                        </th>
                        <th>
                            @{<text>Time Completed</text>}
                        </th>
                    </tr>

                    @foreach (var item in Model.RaceResults)
                    {
                        <tr>
                            <td>
                                @item.NAME
                            </td>
                            <td>
                                @item.TIME
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<p>
    |
    @Html.ActionLink("Back to List", "Index")
</p>
