@model SimplySeniors.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col">
            <div id="registerBox">
                <h2>Register</h2>
                <p>Create a new account to join Simply Seniors</p>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    </div>
                </div>
                <br />
                <div class="g-recaptcha" data-sitekey=@System.Web.Configuration.WebConfigurationManager.AppSettings["recaptchaPublickey"]></div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-outline-primary" value="Register" />
                    </div>
                </div>
                <p>For login and registration help, <a href='/Home/HelpPage#AccountHelp'> Click here </a> </p>
            </div>
        </div>
        <div class="col" id="registerPic">
            <img src="~/Photos/technologyFolkFade2.png" alt="TechPic">
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
