<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Simply Seniors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> @* Loading Bootstrap stylesheet - make sure to keep it as the first stylesheet listed.*@
    <link rel="icon" type="image/png" sizes="16x16" href="~/Photos/favicon-32x32.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span id="hamburgerMenu" class="btn-outline-primary">Click here to see Menu</span>
                </button>
                
            </div>
            <div class="collapse navbar-collapse" id="navBar">
                <a href="@Url.Action("Index","Home")">
                    <img id="logo" src="~/Photos/SimplySeniorIcon.png" alt="Site Logo" style="height:80px; width: auto; padding: 0px;" /></a>
                <ul class="navbar-nav mr-auto" id="iconList">
                    <li id="navBarItem">@Html.ActionLink("Home", "HomePage", "UserHomePage")</li>
                    <li id="navBarItem">@Html.ActionLink("Search", "Index", "Profiles")</li>
                    <li id="navBarItem">@Html.ActionLink("Services", "Services", "Home")</li>
                    <li id="navBarItem">@Html.ActionLink("Events", "Index", "Events")</li>
                    <li id="navBarItem">@Html.ActionLink("Help", "HelpPage", "Home")</li>
                </ul>
                <div id="registrationStuff">
                @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <footer>
                <p>&copy; @DateTime.Now.Year - BitBreakers Industries</p>
            </footer>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/main.js")

        <script src='https://www.google.com/recaptcha/api.js'></script>
        @RenderSection("scripts", required: false)
</body>
</html>
