@model SimplySeniors.Models.ViewModel.UserHomeViewModel

@{
    ViewBag.Title = "HomePage";
}
<meta charset="UTF-8">


<br />
<br />
<table id="homePageTable">
    <tr>
        <td>
            @*<img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" />*@ @*later connect to profile pic from db*@
            <div style="margin-left: 2em; margin-top: .05em; margin-bottom: -.3em; margin-right: 0em; ">
                <iframe border="none" marginheight="0em;" marginwidth="0em;" scrolling="no" height="160px" width="165px" src="~/PhotoDownloadForm.aspx?id=@Html.DisplayFor(model => model.ProfileID)"></iframe>
            </div>

        </td>
        <td>
            @Html.DisplayFor(model => model.ProfileFirstName)
            @Html.DisplayFor(model => model.ProfileLastName)
        </td>
        <td>
            <Iframe runat="server" id="weatherReport" src="~/weather.aspx"></Iframe>
        </td>
    </tr>
</table>
<br />
<br />

<div id="homePageButtons">
    <button id="eventButton" onclick="window.location.href = '/Posts/Create'">
        Create Post
    </button>

    @Html.ActionLink("View News", "NewsFeed", null, new { id = "eventButton" })
    @Html.ActionLink("Chat Now", "Index", "Chat", new { id = Model.ProfileID }, new { id = "eventButton" })
    @Html.ActionLink("Follower Suggestions", "search", "Profiles", null, new { id = "eventButton" })
</div>

<div class="container">
    <div id="map" class="container" style="width: 93%"></div>
    <div class="row">


        <div class="col-md-8" id="boxPostFriend" style="float: left;">
            <div id="homeHeader"> @Html.DisplayFor(model => model.ProfileFirstName)'s Posts</div> <hr />
            @if (Model.PostList.Count() == 0)
            {
                <p>It looks like you don't have any posts</p>
            }
            else
            {
                foreach (var item in Model.PostList)
                {
        <div id="individualPost">
            <iframe border="none" marginheight="0em;" marginwidth="0em;" scrolling="no" height="160px" width="165px" src="~/PhotoDownloadForm.aspx?id=@Html.DisplayFor(model => item.PostProfile.ID)" alt=""></iframe>
            <div id="statusName">

                @* <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" />*@@*later connect to profile pic from db*@
                @Html.DisplayFor(model => item.PostProfile.FIRSTNAME)
                @Html.DisplayFor(model => item.PostProfile.LASTNAME)
                <div id="postDateProfile">@Html.DisplayFor(model => item.PostDate)</div>
            </div>
            <div id="statusTitle">
                @Html.DisplayFor(model => item.Title)
            </div>
            <div id="postDescription">
                @Html.DisplayFor(model => item.Body)
            </div>
            <div id="postSettings">
                @Html.ActionLink("Edit", "Edit", "Posts", new { id = item.ID }, null)
                @Html.ActionLink("Delete", "Delete", "Posts", new { id = item.ID }, null)
            </div>
            <div class="col-md-6">
                @Html.ActionLink("👍 Like", "Like", "Posts", new { id = item.ID }, new { id = "likeButton2" })
                @Html.ActionLink("✍️ Comment", "Create", "PostComments", new { id = item.ID }, new { id = "commentButton" })
                <div id="likeNum2">@Html.DisplayFor(model => item.Likes) Like(s) </div>
            </div>
            <hr />
            @foreach (var item2 in Model.Comments.Where(x => x.PostID == item.ID))
            {
                <div id="individualComment">
                    <div id="statusName">
                        <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" alt="no photo found" />
                        @*Getting first and last name and making it into a link that redirects to profile page*@
                        @{var fullName2 = Html.DisplayFor(model => item2.CommentProfile.FIRSTNAME).ToString() + " " + Html.DisplayFor(model => item2.CommentProfile.LASTNAME).ToString();}
                        @*If statement to redirect to whoever's post it is*@
                        @{if (Model.ProfileID != item2.CommentProfile.ID)
                            {
                                @Html.ActionLink(fullName2, "Details", "Profiles", new { id = item2.CommentProfile.ID }, null)

                            }
                            else
                            {
                                @Html.ActionLink(fullName2, "MyProfile", "Profiles", null, null)
                            }
                        }
                        <div id="postDateProfile">@Html.DisplayFor(model => item2.CommentDate)</div>
                    </div>
                    <div id="postDescription">
                        @Html.DisplayFor(model => item2.Text)
                    </div>
                </div>

            }

        </div>
                }
            }
        </div>
        <div class="col-md-3" id="boxPostFriend">
            <div id="homeHeader">Following</div> <hr />
            @if (Model.Followed.Count() == 0)
            {
                <p>It looks like you aren't following anyone</p>
            }
            else
            {
                foreach (var item in Model.Followed)
                {
                    <div id="friendName">
                        @*Getting first and last name and making it into a link that redirects to profile page*@
                        @{var fullName = Html.DisplayFor(model => item.FIRSTNAME).ToString() + " " + Html.DisplayFor(model => item.LASTNAME).ToString();}
                        @*If statement to redirect to whoever's post it is*@
                        @{if (Model.ProfileID != item.ID)
                            {
                                @Html.ActionLink(fullName, "Details", "Profiles", new { id = item.ID }, null)
                            }
                            else
                            {
                                @Html.ActionLink(fullName, "MyProfile", "Profiles", null, null)
                            }
                        }
                        <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
                        <br />
                        <div id="messageFriend">Message Friend</div> <hr />
                    </div>

                }
            }

        </div>

    </div>

</div>

<!-- container element in which TalkJS will display a chat UI -->
@*<div id="talkjs-container" style="width: 70%; margin: 30px; height: 300px"><i>Loading chat...</i></div>*@


<div id="helpLink" style="float: bottom;"><p> Need help learning about all of the features on your Home page? Visit our <b>Help</b> tab on the navigation menu at the top of this page or <a href='/Home/HelpPage#HomeHelp'> Click here</a>.</p></div>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'),
            {
                center: { lat: @Model.latitude, lng: @Model.longitude },
                zoom: 14
            });
    }
</script>

@{ var appID = System.Web.Configuration.WebConfigurationManager.AppSettings["mapApiKey"];
}
<input type="hidden" id="PassingToJavaScript1" value=@appID>

<script> var p1=document.getElementById('PassingToJavaScript1').value;
        var script = document.createElement('script');
        script.src = "https://maps.googleapis.com/maps/api/js?key="+p1+"&callback=initMap";
        document.getElementsByTagName('script')[0].parentNode.appendChild(script);
    </script>

