@model SimplySeniors.Models.ViewModel.UserHomeViewModel

@{
    ViewBag.Title = "HomePage";
}

<br />
<br />
<table id="homePageTable">
    <tr>
        <td>
            <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
        </td>
        <td>
            @Html.DisplayFor(model => model.ProfileFirstName)
            @Html.DisplayFor(model => model.ProfileLastName)
        </td>
        <td id="smallWeather">
            Weather<br />62°
        </td>
    </tr>
</table>

<br /><br />
<button id="eventButton" onclick="window.location.href = '/Posts/Create'">
    Create Post
</button>
<button id="eventButton" onclick="window.location.href = '/Posts/Index'">
    See My Posts
</button>

<div class="row">
    <div class="col-md-8" id="boxPostFriend">
        <div id="homeHeader">Posts</div> <hr />
        @foreach (var item in Model.PostList)
        {
            <div id="individualPost">
                <div id="statusName">
                    <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
                    @Html.DisplayFor(model => model.ProfileFirstName)
                    @Html.DisplayFor(model => model.ProfileLastName)
                </div>
                <div id="statusTitle">
                    @Html.DisplayFor(model => item.Title)
                </div>
                <div id="postDescription">
                    @Html.DisplayFor(model => item.Body)
                </div>

            </div>
        }
        @*
        <div id="individualPost">
            <div id="statusName">
                <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db
                @Html.DisplayFor(model => model.ProfileFirstName)
                @Html.DisplayFor(model => model.ProfileLastName)
            </div> <div id="statusTitle">
                Painted My Nails
            </div><br />
            <div id="postDescription">So I did my nails yesterday, and the paint is already chipping. Okay so I need to take up more space like as much as I can possibly take up or as much as I can think of to see if my CSS looks right idk. Typing 123 testing 123.</div>
        </div> <br />
        <div id="individualPost">
            <div id="statusName">
                <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db
                @Html.DisplayFor(model => model.ProfileFirstName)
                @Html.DisplayFor(model => model.ProfileLastName)
            </div><div id="statusTitle">
                Sunny Day
            </div><br />
            <div id="postDescription">It's so nice outside! Feels like summer already.</div>
        </div> <br />
        *@
    </div><br />
          <div class="col-md-3 col-md-offset-3" id="boxPostFriend">
              <div id="homeHeader">Friends List</div> <hr />
              <div id="friendName"> 
              <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
              Amy Lastname <br /></div>
              <div id="messageFriend"><a href="Home/HelpPage">Message Friend</a></div> <br />
              <div id="friendName">
              <img src="/Photos/noimageavailble.jpg" id="noProfilePhotoFoundImage" /> @*later connect to profile pic from db*@
              James Person <br /></div>
              <div id="messageFriend"><a href="Home/HelpPage">Message Friend</a></div><br />
          </div>
    </div>
